@page "/"
@using Chapter9CQRS_API.Models
@using Chapter9CqrsUI.HttpServices
@inject IProductService ProductService
@inject NavigationManager NavManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (products is not null)
{
    foreach (var product in products)
    {
        <div style="border: 1px solid black; padding: 10px; margin: 10px; width:300px">
            <p>@product.Id</p>
            <p>@product.Name</p>
            <p>@product.Price</p>
            <p><button onclick="@(()=>EditItem(product))">Edit</button></p>
        </div>
    }
}

@code {
    private List<Product>? products;
    protected override async Task OnInitializedAsync()
    {
        await ProductService.Post(new Product()
            {
                Name = "My product name",
                Price = 9.99M
            });

        products = await ProductService.GetProductList();
    }

    private void EditItem(Product product)
    {
        NavManager.NavigateTo($"edit-product/{product.Id}");
    }
}