@page "/products"
@using Chapter9CQRS_API.Models
@using Chapter9CqrsUI.HttpServices

@inject IProductService productService

<h1>Product List</h1>

@if (products is null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var product in products)
    {
        <div style="border: 1px solid black; padding: 10px; margin: 10px; width:300px">
            <p>@product.Id</p>
            <p>@product.Name</p>
            <p>@product.Price</p>
        </div>
    }
}
@code {
    private List<Product>? products;
    protected override async Task OnInitializedAsync() 
        {
            products = await productService.GetProductList();
        }
}
